/*@media only screen and (max-width: 767px){*/
/* for < 768px */

	body { 
		/*background-image: url("../images/empty_classroom.jpg");
		background-repeat: no-repeat;
   		background-attachment: fixed;
    	background-position: bottom;*/
	}

	.bigModal{
		width:720px;
	}
	
	.but_color, .but_color:hover, .but_color:active, .but_color:visited, .but_color:link {
		background-color: #7a0202;
		color: white;
	}

	.anchor_color, .anchor_color:hover, .anchor_color:active, .anchor_color:visited, .anchor_color:link {
		color: #7a0202;
	}

	.table_text {
		color: #7a0202;
	}

	.header, .footer {
		height: 20px;
		background-color: #000;
		/*background-color: #3a0202;*/
	}

	.header {
		position: relative;
	}

	.footer {
		position: absolute; 
		bottom: 0%;
		width: 100%;
	}

	.body {
		margin-top: 15%;
	}

	.body-head {
		margin-top: 5%;
	}

	.img-icon {
		margin-top: 5%;
		width: 120px;
	}

	.txt-title-name {
		font-size: 60px;
	}

	.login_panel {
		margin-top: 5%;
	}

	.btn_logged {
		margin: 1.5% 0%;
	}

@media only screen and (min-width: 768px){

	.header, .footer {
    	height: 50px;
	}

	.body {
		margin-top: 7%;
	}

	.body-head {
		margin-top: 5%;
	}

	.img-icon {
		width: 100%;
	}

	.txt-title-name {
		font-size: 145px;
	}

	.txt-title {
		text-align: center;
	}

}